.hero-actions{
    padding-top: 1rem;
    display:flex;
    gap: 1rem;
}

.resume-btn .icon {
    padding-top: 2px;
    font-size: 1.5rem;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

.hero{
    padding-bottom: 3rem;
}

.hero-actions a{
    transition: color 0.4s;
}
.hero-actions a:hover{
    color: #3b82f6;
}

.location{
    color: grey;
}

.map-container {
    width: 100%;
    max-width: 800px;    /* match your content wrapper */
    height: 200px;       /* choose a height that works for your layout */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
  
@media (max-width: 640px) {
    .map-container {
      height: 300px;
    }
}