#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 0em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.content {
  max-width: 800px; /*approx navbar length*/
  margin: 0 auto;
  padding: 2rem 1rem;  
  text-align: left; /* left justify text*/
}